.content {
    text-align: center;
}

.rect1css:hover {
    opacity: 0;
}
.rect2css:hover {
    opacity: 0;
}
.rect3css:hover {
    opacity: 0;
}
.rect4css:hover {
    opacity: 0;
}
.rect5css:hover {
    opacity: 0;
}
.rect6css:hover {
    opacity: 0;
}
.rect7css:hover {
    opacity: 0;
}
.rect8css:hover {
    opacity: 0;
}
.rect9css:hover {
    opacity: 0;
}