.content {
    text-align: center;
}

.rect1css:hover {
    opacity: 0;
}
.rect2css:hover {
    fill: yellow;
}
.rect3css:hover {
    fill: yellow;
}
.rect4css:hover {
    fill: yellow;
}
.rect5css:hover {
    fill: yellow;
}
.rect6css:hover {
    fill: yellow;
}
.rect7css:hover {
    fill: yellow;
}
.rect8css:hover {
    fill: yellow;
}
.rect9css:hover {
    fill: yellow;
}

.circ1css {
    stroke: black;
}

.line1css {
    stroke: black;
}